
/* General / Text Styling */
body {
  background-color: #fafbfc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Hack, monospace;
}

.comment {
  color: #4CA54C;
  display: inline-block;
  position: relative;
  display: inline-block
}

.comment::before {
  content: "// ";
}

.container-fluid {
  padding: 3% 15% 3%;
}

.section-title {
  text-align: center;
  margin-bottom: 3%;
}

.centeredFA {
  opacity: 20%;
  margin: auto;
}

/* Introduction */

#intro {
  height: 50%;
}

.intro-img {
  text-align: center;
}

.intro-text {
  margin: auto;
  font-size: 50%;
}

.circle-img {
  border-radius: 50%;
  /* text-align: center; */
}



/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Hack, monospace;
  font-size: 2.3rem;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #1817A2;
  /* RED COLOR: #dc525e */
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
  color: #1817A2;
}



.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: Hack, monospace;
  font-size: 1.2rem;
}

/* Blinking Terminal Cursor */
/* Reference: https://codepen.io/alandunning/pen/RWRrEW */

.cursor::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 12px;
  /* Set height to the line height of .text */
  height: 2.5rem;
  /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 2s step-end infinite;
  animation: blink 2s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* Footer Section */

#footer {
  text-align: center;
  padding: 3% 15% 1%;
}

.footer-icon {
  margin: 10px 10px 10px;
}

@media (max-width: 1220px) {
  .intro-img {
    position: static;
    text-align: center;
    margin: auto;
  }
  .intro-text {
    position: static;
    margin: 10px 25% auto;
    text-align: initial;
  }
}


/* Project Section */

.project-img {
  background-color: #fafbfc;
  overflow: hidden;
  object-fit: scale-down;
}

/* Skills Section */
/* Reference: https://stackoverflow.com/questions/17565953/representing-folder-hierarchy-with-html */

#hierarchyGeneral, #hierarchyWeb, #hierarchyDatabase
{
    font-family: Hack;
    font-size: 1.25rem;
    width: 300px;
}
.foldercontainer, .file, .noitems
{
    display: block;
    padding: 5px 5px 5px 50px;
}
.folder
{
    cursor: pointer;
}
.noitems
{
    display: none;
    pointer-events: none;
}
.folder:hover,.file:hover
{
    background: #dde1e4;
}
.folder:before, .file:before
{
    padding-right: 10px;
}


/* Education */
.penn-logo {
  max-width: 75%;
}

figure, figcaption {
  text-align: center;
  font-family: Hack, monospace;
}

figcaption {
  margin-top: 10px;
}

.carousel {
  margin: auto;
}

.carousel-img {
  object-fit: scale-down;
  overflow: hidden;
  max-height: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(50%)
}
