{{ define "main" }}
    {{ $paginator := .Paginate (where .Data.Pages "Type" "bucketlist") }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        <div class="triple">
            {{ $statuses := slice "todo" "in-progress" "completed" }}
            {{ $colors := slice "#FF6F61" "#FFD700" "#2ECC71" }}
            {{ range $index, $status := $statuses }}
                <div class="col">
                    <h2 style="width: fit-content; padding: 0.5rem; border-radius: 1rem; border: 0.5px solid grey; margin-top: 0px; text-decoration: underline; background-color: {{ index $colors $index}}">{{ $status | title }}</h2>
                    {{ $posts := where $paginator.Pages "Params.status" "eq" $status }}
                    {{ if ( gt ( len $posts ) 0 ) }}
                    <ul>
                    {{ range sort $posts "Date" }}
                        <li>
                        <a href="{{ .Permalink }}">{{ .Title }}</a><!-- - {{ .Date.Format "Jan 2, 2006" }}-->
                        </li>
                    {{ end }}
                    </ul>
                    {{ else }}
                    None (for now...)
                    {{ end }}
                </div>
            {{ end }}
        </div>
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
