{{ define "main" }}
    {{ $paginator := .Paginate (where .Data.Pages "Type" "bucketlist") }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        <div class="triple">
            {{ $statuses := slice "to do" "in progress" "done" }}
            <!-- {{ $statusColorMap := index site.Data.bucketListColors 0 }} -->
            {{ $categoryMap := index site.Data.colors "categories" }}
            {{ range $index, $status := $statuses }}
                <div class="col">
                    {{ $posts := where $paginator.Pages "Params.status" "eq" $status }}
                    <h2 style="font-size: 1.3rem; width: fit-content; padding: 0.5rem; border-radius: 0.4rem; margin-top: 0px;">{{ $status | title }} ({{len $posts}})</h2>
                    {{ if ( gt ( len $posts ) 0 ) }}
                    {{ range sort $posts "Date" }}
                    <a href="{{ .Permalink }}" style="text-decoration: none;">
                        <span class="card" >
                            <div>{{ .Title }}<!-- - --></div>
                            <div class="date-badge">{{ .Date.Format "Jan 2" }}</div>
                            {{site.Data.categoryColors}}
                            <div class="category-container">
                                {{range $i, $category := .Params.categories}}
                                    {{ with index $categoryMap $category }}
                                        <div class="category-badge" style="background-color: {{.bgcolor}}; color: {{.color}}">#{{ $category }}</div>
                                    {{else}}
                                    <div class="category-badge">#{{ $category }}</div>
                                    {{end}}
                                {{end}}
                            </div>
                        
                        </span>
                    </a>
                    {{ end }}
                    {{ else }}
                    <!-- None (for now...) -->
                    {{ end }}
                </div>
            {{ end }}
        </div>
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
